@charset "UTF-8";
.p1{
	width: 800px;
    height: 23px;
    box-sizing: content-box;
    display: inline-block;
    border: 3px solid black;
}
.img1
{
  box-sizing: content-box;
  display: inline-block;
  border: 3px solid black;
	
}
.p2{
	width: 200px;
    height: 100px;
    box-sizing: content-box;
    display: inline-block;
    border: 3px solid black;
}
.img2
{
  box-sizing: content-box;
  display: inline-block;
  border: 3px solid black;
	
}
.img3
{
    position:relative;
  
    border: 3px solid black;
    box-sizing:content-box;
    width:100px;
   left:250px;
   bottom:170px;
 
 
 
	
}
.img4
{
  position:relative;
  box-sizing: content-box;
  display: inline-block;
  border: 3px solid black;
  padding: 100px 100px 100px 100px;
  bottom:100px
}
.p3{
	position:relative;
	width: 200px;
    height: 100px;
    box-sizing: content-box;
    display: inline-block;
    border: 3px solid black;
    bottom:150px;
    right: -50px;
}
.pfixed{
	position:fixed;
	width: 200px;
    height: 100px;
    box-sizing: content-box;
    display: inline-block;
    border: 3px solid black;
    bottom:0px;
    right: 0px;
}
